NODE_ENV=development
TCP_PORT=

LOG_LEVEL=info

#DB_SYNCHRONIZE=true

# PASSWORD_ENCRYPT_LEVEL
# low: Ideal para entornos de desarrollo local o testing rápido (bajo consumo de recursos).
# medium: Recomendado para entornos de staging o producción estándar.
# high: Nivel máximo de seguridad para producción crítica (alto consumo de memoria y CPU).
PASSWORD_ENCRYPT_LEVEL=medium